<a href="https://colab.research.google.com/github/zuzKomar/PAD/blob/main/PAD03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Wgraj dane z pliku DANE_PAD_O3.csv jako ramkę danych.

Oblicz liczebność każdej wartości w kolumnie COUNTRY.

In [1]:
from google.colab import drive
drive.mount('/content/drive')
!ln -s /content/drive/MyDrive/PAD03 pad03

Mounted at /content/drive

In [37]:
import pandas as pd
import numpy as np

df = pd.read_csv('pad03/PAD_03_PD.csv', sep=';')
group_country=df.groupby('Country')
group_country.aggregate({'Country':['count']})

        Country
          count
Country
A           328
B           201
C           186
D            78

W nowej kolumnie ‘owned_goods’ dodaj zmienną, która będzie informowała o liczbie posiadanych dóbr (zliczyć ile dana osoba posiada w sumie dóbr).

In [43]:
newcol=pd.DataFrame(df['owns_car']+df['owns_TV']+df['owns_house']+df['owns_Phone'], columns=['owned_goods'])
df = df.join(newcol)
df

,ID,Country,owns_car,owns_TV,owns_house,owns_Phone,gender,Age,owned_goods
0,1,A,0.0,0.0,0.0,1,M,61,1.0
1,2,B,0.0,0.0,0.0,1,M,44,1.0
2,3,A,0.0,0.0,0.0,1,M,56,1.0
3,4,A,0.0,0.0,0.0,1,M,53,1.0
4,5,C,1.0,1.0,0.0,1,K,60,3.0
...,...,...,...,...,...,...,...,...,...
795,796,B,0.0,0.0,0.0,1,K,28,1.0
796,797,B,0.0,0.0,0.0,1,M,26,1.0
797,798,A,0.0,0.0,0.0,1,M,61,1.0
798,799,B,0.0,1.0,0.0,1,K,47,2.0
799,800,B,0.0,1.0,0.0,1,K,51,2.0

Porównaj średnią posiadanych dóbr między kobietami i mężczyznami. Wynik zaokrąglij do 2 miejsc po przecinku.

In [44]:
df.groupby('gender', as_index=False)['owned_goods'].mean().round(2)

  gender  owned_goods
0      K         2.80
1      M         0.89

Stwórz ramkę danych, która zawierać będzie w pierwszej kolumnie wartość zmiennej COUNTRY, w drugiej kolumnie, średnią posiadanych dóbr w danym kraju (Wynik zaokrąglij do 2 miejsc po przecink), a w trzeciej kolumnie minimum wieku.

In [46]:
groupedCountry = df.groupby('Country', as_index=False)
groupedCountryMeanOwnedGoodsMinAge = groupedCountry.aggregate({'owned_goods':['mean'], 'Age': ['min']})
groupedCountryMeanOwnedGoodsMinAge['owned_goods'] = groupedCountryMeanOwnedGoodsMinAge['owned_goods'].round(2)
groupedCountryMeanOwnedGoodsMinAge

  Country owned_goods Age
                 mean min
0       A        0.86  18
1       B        1.46  18
2       C        3.03  18
3       D        4.00  18